{{/* Structured data: HowTo (pages with .Params.howto), FAQPage (pages with .Params.faq), Article default */}}
{{ if .Params.howto }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "HowTo",
  "name": {{ .Params.howto.name | jsonify }},
  "description": {{ .Description | default .Params.howto.name | jsonify }},
  "step": [
    {{ range $i, $s := .Params.howto.steps }}
    {"@type":"HowToStep","position":{{ add $i 1 }},"text":{{ $s | jsonify }}}{{ if ne $i (sub (len $.Params.howto.steps) 1) }},{{ end }}
    {{ end }}
  ]
}
</script>
{{ else if .Params.faq }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {{ range $i, $q := .Params.faq }}
    {"@type":"Question","name":{{ $q.q | jsonify }},"acceptedAnswer":{"@type":"Answer","text":{{ $q.a | jsonify }}}}{{ if ne $i (sub (len $.Params.faq) 1) }},{{ end }}
    {{ end }}
  ]
}
</script>
{{ else if and .IsPage (ne .Type "codes") }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ .Title | jsonify }},
  "description": {{ with .Description }}{{ . | jsonify }}{{ end }},
  "datePublished": {{ .Date.Format "2006-01-02" | jsonify }},
  "dateModified": {{ .Lastmod.Format "2006-01-02" | jsonify }},
  "mainEntityOfPage": {{ .Permalink | jsonify }},
  "author": {"@type":"Organization","name":{{ .Site.Params.author | jsonify }}}
}
</script>
{{ end }}
